In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('http://www.ppgia.pucpr.br/~jean.barddal/datascience/enron.csv')

In [3]:
df.head(5)

       bonus  deferral_payments  ...  total_stock_value                name
0  4175000.0          2869717.0  ...          1729541.0     ALLEN PHILLIP K
1        NaN           178980.0  ...           257817.0       BADUM JAMES P
2        NaN                NaN  ...          5243487.0  BANNANTINE JAMES M
3  1200000.0          1295738.0  ...         10623258.0       BAXTER JOHN C
4   400000.0           260455.0  ...            63014.0      BAY FRANKLIN R

[5 rows x 22 columns]

In [4]:
# implementar o metodo de tukey

# lista de outliers (outliers para mais de n variaveis)
outliers = []
n = 2

for col in df.select_dtypes(include='number').columns.values:
  print(col)

  # calcular os quartis (Q3 e Q1)
  q1 = df[col].quantile(q=0.25)
  q3 = df[col].quantile(q=0.75)

  # calcular o tamanho da caixa (IQR = Q3 - Q1)
  iqr = q3 - q1

  # limites superiores e inferiores (whiskers/bigodes)
  sup = q3 + 1.5 * iqr 
  inf = q1 - 1.5 * iqr

  # obtendo os dados abaixo ou acima dos whiskers
  ix_outliers_col = list(df[(df[col] < inf) | (df[col] > sup)].index)

  print(ix_outliers_col)
  # armazenando os outliers dessa coluna na lista global de outliers
  for v in ix_outliers_col:
    outliers.append(v)

bonus
[0, 7, 31, 42, 75, 78, 79, 91, 122, 130, 139]
deferral_payments
[0, 47, 66, 68, 130]
deferred_income
[0, 7, 47, 59, 112, 130]
director_fees
[8, 11, 94, 108, 130, 132]
exercised_stock_options
[3, 32, 35, 47, 65, 79, 103, 110, 112, 122, 130, 144]
expenses
[88, 116, 130, 132]
from_messages
[0, 6, 7, 19, 31, 32, 58, 62, 66, 72, 73, 75, 78, 89, 116, 117, 139]
from_poi_to_this_person
[7, 20, 26, 34, 37, 47, 58, 75, 78, 110, 139]
from_this_person_to_poi
[0, 6, 7, 19, 31, 58, 72, 73, 75, 78, 89, 116, 117]
loan_advances
[]
long_term_incentive
[40, 78, 79, 86, 130]
other
[3, 47, 69, 77, 79, 86, 103, 119, 121, 130, 140]
restricted_stock
[3, 11, 22, 47, 60, 69, 73, 79, 103, 112, 122, 130, 139, 140, 144]
restricted_stock_deferred
[11, 32, 130]
salary
[2, 32, 47, 57, 79, 105, 122, 130, 139]
shared_receipt_with_poi
[7, 117]
to_messages
[6, 7, 73, 75, 78, 117, 139]
total_payments
[3, 7, 11, 31, 47, 78, 79, 86, 122, 130, 139]
total_stock_value
[3, 32, 35, 41, 47, 65, 66, 79, 102, 103, 110, 112, 122, 130, 140, 144]

In [5]:
from collections import Counter
lista_indices = [x[0] for x in Counter(outliers).most_common(10)]
lista_indices

[130, 47, 7, 79, 78, 139, 122, 0, 75, 3]

In [6]:
Counter(outliers).most_common(100)

[(130, 13),
 (47, 9),
 (7, 8),
 (79, 8),
 (78, 7),
 (139, 7),
 (122, 6),
 (0, 5),
 (75, 5),
 (3, 5),
 (32, 5),
 (31, 4),
 (112, 4),
 (11, 4),
 (103, 4),
 (73, 4),
 (117, 4),
 (66, 3),
 (110, 3),
 (144, 3),
 (116, 3),
 (6, 3),
 (58, 3),
 (86, 3),
 (140, 3),
 (132, 2),
 (35, 2),
 (65, 2),
 (19, 2),
 (72, 2),
 (89, 2),
 (69, 2),
 (42, 1),
 (91, 1),
 (68, 1),
 (59, 1),
 (8, 1),
 (94, 1),
 (108, 1),
 (88, 1),
 (62, 1),
 (20, 1),
 (26, 1),
 (34, 1),
 (37, 1),
 (40, 1),
 (77, 1),
 (119, 1),
 (121, 1),
 (22, 1),
 (60, 1),
 (2, 1),
 (57, 1),
 (105, 1),
 (41, 1),
 (102, 1)]

In [7]:
df.loc[lista_indices]

          bonus  deferral_payments  ...  total_stock_value                name
130  97343619.0         32083396.0  ...        434509511.0               TOTAL
47    2000000.0          6426990.0  ...         14622185.0      FREVERT MARK A
7     5249999.0          2144013.0  ...          1110705.0    BELDEN TIMOTHY N
79    7000000.0           202911.0  ...         49110078.0       LAY KENNETH L
78    8000000.0                NaN  ...          5167144.0     LAVORATO JOHN J
139   3000000.0                NaN  ...          6079137.0  WHALLEY LAWRENCE G
122   5600000.0                NaN  ...         26093672.0  SKILLING JEFFREY K
0     4175000.0          2869717.0  ...          1729541.0     ALLEN PHILLIP K
75    3100000.0                NaN  ...           547143.0      KITCHEN LOUISE
3     1200000.0          1295738.0  ...         10623258.0       BAXTER JOHN C

[10 rows x 22 columns]

#### Isolation Forest

In [8]:
from sklearn.ensemble import IsolationForest

In [10]:
# obtendo apenas colunas numericas
df_num = df.select_dtypes(include='number')

In [11]:
# imputando de valores faltantes (substituir valores faltantes por 0)
df_num.fillna(0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [12]:
# criar a isolation forest
isof = IsolationForest(random_state=51)
isof.fit(df_num)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination='auto',
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=51, verbose=0, warm_start=False)

In [13]:
# obtendo marcacoes de outliers
y_pred = isof.predict(df_num)

In [15]:
# adicionando coluna nova na tabela com a marcacao
df['inlier'] = y_pred

In [18]:
# filtrando apenas os outliers
df[df['inlier'] == -1]

          bonus  deferral_payments  ...                name  inlier
7     5249999.0          2144013.0  ...    BELDEN TIMOTHY N      -1
11          NaN                NaN  ...    BHATNAGAR SANJAY      -1
47    2000000.0          6426990.0  ...      FREVERT MARK A      -1
73    1000000.0                NaN  ...       KEAN STEVEN J      -1
78    8000000.0                NaN  ...     LAVORATO JOHN J      -1
79    7000000.0           202911.0  ...       LAY KENNETH L      -1
122   5600000.0                NaN  ...  SKILLING JEFFREY K      -1
130  97343619.0         32083396.0  ...               TOTAL      -1

[8 rows x 23 columns]

In [20]:
# quao menor o score, mais outlier!
scores = isof.score_samples(df_num)
df['score'] = scores

In [22]:
df[df['inlier'] == -1]

          bonus  deferral_payments  ...  inlier     score
7     5249999.0          2144013.0  ...      -1 -0.540658
11          NaN                NaN  ...      -1 -0.557951
47    2000000.0          6426990.0  ...      -1 -0.632228
73    1000000.0                NaN  ...      -1 -0.515462
78    8000000.0                NaN  ...      -1 -0.571072
79    7000000.0           202911.0  ...      -1 -0.719847
122   5600000.0                NaN  ...      -1 -0.531281
130  97343619.0         32083396.0  ...      -1 -0.886864

[8 rows x 24 columns]